*.pyc
.DS_Store
/example_libero_data
/docs
/data
/lerobot_robotwin_eef_clean_50
/dependencies
/test_downsample
/wandb
/train_logs
/train_out
/wan_va_pi3_haoranVersion
/tests
!/tests/
!/tests/robotwin_data_loading.py
!/tests/robotwin_weight_loading.py
/inference_logs
/modelscope_pointcloud_logs
/debugfa4_real_training_logs
/pointcloud_conf_vis
/pointcloud_vis
/prev_data
/legacy_tests
/train_logs_prev
/.vscode
/wan_va/docs
/wan_va/tests
/playground